* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Electrolize';
  src: url('./assets/fonts/Electrolize-Regular.ttf') format('truetype');
}

:root {
  --birdSize: 35px;
  --bandWidth: 2448px;
  --bandHeight: 52px;
  --obstacleWidth: 55px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.container {
  position: relative;
  width: var(--initialWidth);
  height: var(--initialHeight);
  background-color: rgb(133, 202, 139);
  overflow: hidden;
  margin: 0 auto;
}

.grass {
  width: 100%;
  height: 85px;
  position: absolute;
  left: 0;
  bottom: var(--bandHeight);
  background-image: url("./assets/gameImgs/grass.png");
  background-size: cover;
  background-repeat: repeat-x;
}

.bird {
  position: absolute;
  z-index: 2000;
  left: calc(50% - var(--birdSize));
  width: var(--birdSize);
  height: var(--birdSize);
  visibility: hidden;
}

.birdImg {
  width: 100%;
  height: 100%;
  transform: scale3d(2, 2, 1);
}

.left_ear {
  transform-origin: -150px 60px;
}

.right_ear {
  transform-origin: -155px 60px;
}

.tail {
  transform-origin: -160px 85px;
}

[class*='obstacle'] {
  position: absolute;
  width: var(--obstacleWidth);
  background-image: url("./assets/gameImgs/tree.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.obstacleTop {
  top: 0;
  transform: scale3d(1, -1, 1);
}

.obstacleBtm {
  bottom: 0;
}

.pair {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.band {
  width: var(--bandWidth);
  height: var(--bandHeight);
  position: absolute;
  bottom: 0;
  z-index: 5555;
  background-image: url("./assets/gameImgs/land.png");
  background-size: var(--bandWidth) var(--bandHeight);
  background-repeat: no-repeat;
}

.mainScoreBoard {
  position: absolute;
  text-align: center;
  z-index: 9999;
  top: 25px;
  left: 0;
  right: 0;
  font-size: 4rem;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 3px #000;
  font-family: 'Electrolize', sans-serif;
}

.menu {
  font-family: 'Electrolize', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10001;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transform: translate3d(0, -100%, 0);
  transition: transform 0.2s ease;
}

.showMenu {
  transform: translate3d(0, 0, 0);
}

.menuScoreContainer {
  display: flex;
  background-color: rgb(221, 245, 220);
  width: 100px;
  height: 160px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 0 5px rgb(0, 88, 22);
  text-align: center;
}

.menuScoreContainer .info {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: rgb(158, 18, 18);
  font-weight: bold;
}

.score, .highscore {
  font-size: 2.5rem;
  color: rgb(0, 88, 22);
  font-weight: bold;
}

.startBtn {
  margin-top: 2rem;
  background: rgb(233, 59, 59);
  box-shadow: 0 0 0 5px rgb(0, 88, 22), inset 0 0 0 5px #fff;
  text-transform: uppercase;
  color: white;
  border: none;
  font-weight: bold;
  width: 150px;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.musicBtn {
  position: absolute;
  box-shadow: 0 0 0 5px rgb(0, 88, 22);
  background-color: rgb(221, 245, 220);
  top: 25px;
  border-radius: 8px;
  right: 25px;
  border: none;
  cursor: pointer;
  padding: 0.3rem;
  width: 40px;
  height: 40px;
}

.musicBtn .music {
  width: 100%;
  height: 100%;
}

.music .off {
  fill: rgb(0, 88, 22);
}

.music .on {
  fill: none;
}

@media(min-height: 500px) {
  :root {
    --birdSize: 40px;
    --obstacleWidth: 65px;
  }
}